.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(6, 8, 138);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#matches-head{
  width: 70%;
  text-align: center;
}

#time{
  width: 10%;
}

#bet{
  width:10%;
}
#team{
  text-align: center;
  width:35%;
}

#position{
  text-align: center;
  width: 5%;
}

#team1{
    text-align: Left;
    width:45%;
}

#score{
  text-align: center;
  width: 10%;
}

#score1{
  text-align: center;
  width: 10%;
}

#score2{
  text-align: center;
  width: 10%;
}

#name{
  color: white;
}

#matchless{
  width: 100%;
  text-align: center;
  float: right;
}

#points{
  text-align: center;
  width: 20%;
}

#played{
  text-align: center;
  width: 10%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-container {
  position: relative;
   }
   .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }
@import url(http://fonts.googleapis.com/css?family=Roboto);

  
  #pop-up{
    z-index: 999;
    position: relative;
   position: absolute;
 }

 #login-name{
  position: relative;
 }

 #login-password{
   position: absolute;
 }

#date-picker{
  width: 20%;
  clear: left;
  float: left;
}

#table-head{
  text-align: center;
}
